@import "~bootstrap/less/bootstrap";
@import "no-border-radius";
@import "~angular-loading-bar/src/loading-bar.css";
body {

}

fieldset {
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  /*border-radius:4px;*/
  background-color:#f5f5f5;
  padding-left:10px!important;
}

legend {
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: auto;
  border: 1px solid #ddd;
  /*border-radius: 4px;*/
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
}

.full-width {
  width: 100%;
}

.app-type-color-cell{
  width: 80px;
  min-width: 80px !important;
}
