<table class="table table-hover">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Duraci&oacute;n (HH:MM:SS)</th>
    <th>Color</th>
    <th>-</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in $ctrl.appointmentTypes">
    <td>{{item.name}}</td>
    <td>
      {{item.duration.hours < 10 ? '0' + (item.duration.hours || 0) : item.duration.hours}} :
      {{item.duration.minutes < 10 ? '0' + (item.duration.minutes || 0) : item.duration.minutes}} :
      {{item.duration.seconds < 10 ? '0' + (item.duration.seconds || 0) : item.duration.seconds}}
    </td>
    <td ng-attr-title="{{item.color}}"><div class="full-width app-type-color-cell" ng-style="{'color': item.color, 'background-color': item.color}">{{item.color}}</div></td>
    <td>
      <a title="Editar este registro" href="" ng-click="$ctrl.handleSelection(item)">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      &nbsp;
      <a title="Eliminar este registro" href="" ng-click="$ctrl.handleDeleteRequest(item)">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
