<div class="container">
  <fieldset class="col-md-offset-2 col-md-8">
    <legend>ADMINISTRACI&Oacute;N TIPOS DE CITA</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <form novalidate name="$ctrl.appointmentTypeForm">
          <div class="row">
            <div class="form-group form-group-sm col-md-6">
              <label class="control-label" for="nameInput"><span class="text-danger glyphicon glyphicon-asterisk"></span> Nombre</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Nombre del tipo cita" ng-model="$ctrl.appointmentType.name" required maxlength="64">
            </div>
            <div class="form-group form-group-sm col-md-6">
              <label class="control-label" for="colorInput"><span class="text-danger glyphicon glyphicon-asterisk"></span> Color distintivo</label>
              <input type="color" class="form-control" id="colorInput" ng-model="$ctrl.appointmentType.color" required>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label"><span class="text-danger glyphicon glyphicon-asterisk"></span> Duraci&oacute;n</label>
            <duration-editor model="$ctrl.appointmentType.duration"></duration-editor>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div ng-if="$ctrl.isUpdateButtonVisible()" class="col-md-offset-6 col-md-3">
            <button class="btn btn-primary full-width"
                    ng-click="$ctrl.save()"
                    ng-disabled="!$ctrl.isSaveButtonEnabled()">
              Actualizar
            </button>
          </div>
          <div ng-class="[{'col-md-offset-9': !$ctrl.isUpdateButtonVisible()}, 'col-md-3']">
            <button class="btn btn-primary full-width"
                    ng-click="$ctrl.save(true)"
                    ng-disabled="!$ctrl.isSaveButtonEnabled()">
              Registrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="col-md-offset-2 col-md-8">
    <appointment-type-grid
      appointment-types="$ctrl.appointmentTypes"
      on-selection="$ctrl.onGridItemSelected(selectedItem)"
      on-delete-request="$ctrl.onGridItemDeleteRequest(selectedItem)">
    </appointment-type-grid>
  </div>
</div>
