<div class="row">
  <div class="col-md-4">
    <input class="form-control"
           ng-model="$ctrl.model.hours"
           type="number" min="0" max="12" placeholder="Horas">
  </div>
  <div class="col-md-4">
    <input class="form-control"
           ng-model="$ctrl.model.minutes"
           type="number" min="0" max="59" placeholder="Min">
  </div>
  <div class="col-md-4">
    <input class="form-control"
           ng-model="$ctrl.model.seconds"
           type="number" min="0" max="59" placeholder="Seg">
  </div>
</div>
